*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1440px;
    margin:0 Auto;
    border: 2px solid greenyellow;
}

/*Shared style  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.text-primary{
    color: rgba(0, 0, 0, 0.5);
}
.text-secondary{
    color: #E95A08;
}
.text-color{
    color: #8987A1;
}
.btn-primary{
    background-color: #E95A08;
    color: white;
    padding: 15px 70px;
    margin-top: 5px;
    font-size: 1.125rem;
    font-weight: 600;
    border: none;
}

/* Navigation bar Style */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 100%;
    width: 150px;
    height: 90px;
    margin: 30px 150px 120px 150px;
}
.menu-items{
    display:flex ;
    align-items: center;
    gap: 48px;
    font-size: 1.25rem;
    font-weight: 400;
    color: #252432;
    margin: 46px 115px 150px 120px;   
}
#item-1{
    font-weight: bold;
}
.menu-items li{
    list-style: none;
    padding: 22px 0;
}

/* Banner Style */
.banner-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left:150px;
    margin-right: 120px;
}
.banner-details{
    max-width: 570px;
    padding-top: 162px;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
}
.banner-description{
    font-size: 1.38rem;
    margin-top: 13px;
}
.banner-img img{
    width: 100%;
    height: 355px;
    margin-top:50px;
}

/* Cards Style */
.card-container{
    margin-left:150px;
    margin-right: 120px;
    margin-top: 120px;
    margin-bottom: 100px;
}
.card-info{
    text-align: center;
    margin-bottom:50px;
}
.card-title{
    font-size: 3.125rem;
    margin-bottom: 15px;
}
.card-description{
    width: 850px;
    margin: 0 auto;
    font-size: 1.38rem;
}
.cards{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.card{
    margin-bottom: 40px;
}
.card-name,.card-price{
    font-size: 1.38rem;
    padding-top: 10px;
    text-align: center;
}

/* Plant Lovers Section */
.plant-lovers{
    max-width: 1140px;
    display: flex;
    gap: 100px;
    align-items: center;
    margin: 0 auto;
}
.plant-image{
    width: 50%;
}
.plant-image #flower-cutting{
    width: 100%;
    height: auto;
}
.plant-image .trusted-logo{
    width: 20%;
    height: auto;
    position: absolute;
    top: 1930px;
    left: 600px;
}
.plant-info{
    width: 50%;
}
.plant-title{
    font-size: 3.125rem;
}
.plant-description{
    font-size: 1.38rem;
}
.plant-description li{
    margin-top: 20px;
}

/*Deals Section*/
.Deals{
    max-width: 1140px;
    margin: 0 auto;
}
.deals-info{
    text-align: center;
    margin-top: 100px;
    margin-bottom:50px;
}
.deals-title{
    font-size: 3.125rem;
    margin-bottom: 15px;
}
.deals-description{
    max-width: 850px;
    font-size: 1.38rem;
    margin: 0 auto;
}
.deals-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr 2fr);
    gap: 50px;
    /* width: 100%;
    height: auto; */
}

/* Join Section */
.join-section{
    background-image:url(../images/news-letter-bg.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 535px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}
.join-title{
    color: white;
    font-size: 3.125rem;
    margin-bottom: 23px;
}
form{
    display: flex;
}
.join-section input{
    padding: 8px 100px;
    width: 100%;
}
.join-section button{
    padding: 8px 20px;
    margin-top: 0;
}

/* Footer Section */
.footer-style{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1440px;
    height: auto;
    margin: 30px 160px;
    align-items:baseline;
    justify-items:center;
    font-size: 1.25rem;
}
.sec-2 li,.sec-3 li{
    list-style: none;
    margin-bottom: 26px;
}
.sec-4{
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.sec-1{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.sec-1 img{
    width: 100%;
    width: 135px;
    height: 82px;
}

/* For Iphone */
@media screen and (max-width:576px){
 /* navigation */
    .menu-items>.hide{
    display: none;
    }
    .navbar{
        margin-left: 16px;
        margin-right: 16px;
    }
    .logo img{
    width: 100%;
    height: 50%;
    margin: 0;
}
.menu-items{
    margin: 7px 0;
}

/* banner */
.banner-container{
    grid-template-columns:1fr;
    gap: 28px;
    margin: 0;
}
.banner-details{
    order: 2;
    padding-top: 0px;
    margin-left:16px;
    margin-right:16px;
}
.banner-title{
    margin-top: 15px;
    font-size: 1.5rem;
}
.banner-description{
    font-size: 1rem;
}
.banner-img{
    order: 1;
}
.banner-img img{
    width: 100%;
    height: 100%;
    margin-top:28px;
}

/* cards */
.card-container{
   margin-top: 65px;
   margin-left:16px;
   margin-right: 16px;
   margin-bottom: 20px;
}
.card-title{
    font-size: 1.40rem;
}
.card-description{
    font-size: 1rem;
    width: 100%;
}
.cards{
  grid-template-columns: repeat(2,1fr);
  gap: 25px;
}
.card img{
    width: 100%;
    height: auto;
}
.btn-primary{
    padding: 5px 10px;
    font-size: 1rem;
    width: 100%;
}
/* plants-lover */
.plant-lovers{
    flex-direction: column;
    margin-left:16px;
    margin-right: 16px;
    gap: 10px;
}
.plant-image{
    width: 100%;

}
.plant-info{
    width: 100%;     
}
.plant-description{
    padding-left:16px;
    padding-right: 16px;
}
.plant-image .trusted-logo{
    display: none;
}

/* join Section */
.join-section{
   height: 400px;
}
.join-title{
    font-size:2rem;
}
.join-section input{
    padding:8px 20px;
}
.join-section button{
    width: 50%;
}
/* Footer */
.footer-style{
    grid-template-columns:1fr;
    text-align: left;
    margin: 50px 20px;
    justify-items: start;

}
}